fastapi==0.95.1
uvicorn==0.22.0
google-api-python-client==2.92.0
pandas==1.5.3
scikit-learn==1.0.2
matplotlib==3.6.3
seaborn==0.12.2
networkx==3.1
requests>=2.31
urllib3>=1.21.1,<1.27
feedparser==6.0.10
PyPDF2==3.0.1
python-docx==0.8.11
python-dotenv==1.0.0
astropy>=5.2.0
astroquery>=0.4.6
numpy>=1.23.0
h5py>=3.8.0
python-multipart>=0.0.6
setuptools>=65.5.1